body{
	background-image: url("http://wallpapercave.com/wp/zkGYoes.jpg");
	background-size: cover; 
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-position: center top;
	font-family: "Lato";	
	color: #fff;
}

.title{
	font-weight: 600;
}

.quote-box{
	margin-top: 6%;
	padding: 50px;
	opacity: 0.8;
	background-color: #000;
	border-radius: 10px;
}

blockquote{
	letter-spacing: 2px;		
	font-size: 30px;
	font-weight: 300;
}

#author{
	color: #fff;
	font-size: 20px;
}

button{
	margin: 30px 20px;
	float: right;
}

/* MEDIA QUERIES */

@media screen and (max-width: 660px){
	blockquote{
		font-size: 20px;
	}
}