body{
	background-image: url("http://wallpapercave.com/wp/zkGYoes.jpg");
	background-size: cover; 
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-position: center top;
	font-family: Lato;
}

.quote-box{
	margin-top: 10%;
	opacity: 0.8;
	padding: 50px;
	background-color: #000;
}

blockquote{
	color: #fff;
	letter-spacing: 2px;		
	font-size: 30px;
}

#author{
	color: #fff;
	font-size: 20px;
}

button{
	margin: 30px 20px;
	float: right;
}
